<table *ngIf="gifList.length == 0" style="width: 99vw; height:97vh; overflow: hidden">
    <td style="width: 100%; vertical-align: middle; text-align: center; overflow: hidden">
        <input placeholder="what do you want to hear" style="border-style: solid; padding: 5px; text-align: center; overflow: hidden" [(ngModel)]="searchTerm" (keyup.enter)="search(searchTerm)">
    </td>
</table>  
<table *ngIf="gifList.length > 0" style="width: 98vw; height: 97vh">
    <tr *ngFor="let row of gifList">
        <td *ngFor="let col of row" style="vertical-align: middle; text-align: center;">
            <div>
                <span style="font-size: 70%; vertical-align: top; writing-mode: vertical-rl; text-orientation: sideways">click one</span>
                <img (click)="emitGif(col)" style="object-fit: contain; height: 20%; width: 20%" [src]="col">
            </div>
        </td>
    </tr>
</table> 
