<div id="biggestContainer" style="display: flex; flex-direction: column; height: 97vh; width: 98vw">
    <div id="bigContainer" style="flex-grow: 1;">
        <img [hidden]="true" #img rel:animated_src="">
    </div>
    <div style="text-align: center; margin: auto">
        <input placeholder="GIF URL" [(ngModel)]="gifUrl">
        <div *ngIf="!playing" (click)="load()" style="cursor: pointer">PLAY</div>
        <div *ngIf="playing" (click)="pause()" style="cursor: pointer">PAUSE</div>
    </div>
</div>

