<div id="biggestContainer" style="display: flex; flex-direction: column; height: 100%; width: 100%">
    <div id="bigContainer" style="flex-grow: .5; margin-right: 8px;">
        <div [hidden]="!showInstructions" [innerHTML]="instructions" style="text-align: center; margin-top: 25%;"></div>
        <img [hidden]="true" #img rel:animated_src="">
    </div>
    <div style="text-align: center;">
        <div *ngIf="!playing && loaded" (click)="play()" style="cursor: pointer">PLAY</div>
        <div *ngIf="playing && loaded" (click)="pause()" style="cursor: pointer">PAUSE</div>
        <div *ngIf="!playing && !loaded" style="color: white; cursor: default">PLAY</div>
        <div *ngIf="playing && !loaded" style="color: white">PAUSE</div>
        <input placeholder="gif url" [(ngModel)]="gifUrl" (ngModelChange)="showLoad = true">
        <div *ngIf="showLoad" (click)="load()" style="cursor: pointer">LOAD</div>
        <div *ngIf="!showLoad" (click)="load()" style="color: white; cursor: default">LOAD</div>
    </div>
</div>

