<table class="table">
    <td class="td">
        <div class="cell">
            <span style="padding-right:10px">a noise generator that uses gifs as input</span>
            <span class="button" (click)="navigate('projects/gifsynth')">gif synthesizer</span>
        </div>
    </td>
    <td class="td">
        <div class="cell">
            <div style="padding-bottom:20px">an ep made with a friend</div>
            <iframe style="border: 0; width: 70%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2375449111/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://diller.bandcamp.com/album/diller-ii">Diller II by Diller</a></iframe>
        </div>
    </td>
</table>
<div class="bg"></div>
