<table class="table">
    <td class="td">
        <ul class="eduList">
            <li>case western reserve university, may2016</li>
            <ul>
                <li>b.s.e biomedical engineering. focus on computing and analysis. minor in systems and control engineering.</li>
            </ul>
            <br>
            <li>skills</li>
            <ul>
                <li>angular, vue</li>
                <li>javascript, typescript, css, html, git</li>
                <li>jasmine, jest</li>
                <li>tailwind css</li>
                <li>agile, tdd</li>
            </ul>
        </ul>
    </td>
    <td class="td">
        <ul class="expList">
            <li>pepperlane, cambridge ma, feb2020-mar2020</li>
            <ul>
                <li>pepperlane is a startup providing entrepreneurial guidance for mothers starting a business, as well as a platform to connect with each other and their customers</li>
                <li>front end web developer</li>
                <li>focused on responsive web pages for both desktop and mobile</li>
                <li>worked with vue and tailwind</li>
                <li>interacted with rails backend regularly</li>
            </ul>
            <br>
            <li>accenture, boston ma, jan2017-feb2020</li>
            <ul>
                <li>front end web developer</li>
                <li>worked with angular and vue to develop new systems for internal and external clients</li>
                <li>coordinated front and back end to determine best practices</li>
                <li>acted as liaison for new developers</li>
                <li>completed rigorous unit testing via jest and jasmine</li>
                <li>developed middleware services as necessary</li>
            </ul>
            <br>
        </ul>
    </td>
</table>
<div class="bg"></div>
