<nav-component></nav-component>
<table style="position: absolute; top: 0px; width: 99vw; height: 100vh; z-index: -1;">
    <td style="width: 50%; vertical-align: middle; padding: 20px">
        <ul style="list-style-type:none; background-color: beige; padding-top: 20px; padding-bottom: 20px; padding-right: 20px; margin-right: 7vw;">
            <li>case western reserve university, may2016</li>
            <ul>
                <li>b.s.e biomedical engineering. focus on computing and analysis. minor in systems and control engineering.</li>
            </ul>
            <br>
            <li>skills</li>
            <ul>
                <li>angular, vue</li>
                <li>javascript, typescript, css, html, git</li>
                <li>jasmine, jest</li>
                <li>tailwind css</li>
                <li>agile, tdd</li>
            </ul>
        </ul>
    </td>
    <td style="width: 50%; vertical-align: middle;  padding: 20px">
        <ul style="list-style-type:none; background-color: beige; padding-top: 20px; padding-bottom: 20px; padding-right: 20px;">
            <li>pepperlane, cambridge ma, feb2020-mar2020</li>
            <ul>
                <li>pepperlane is a startup providing entrepreneurial guidance for mothers starting a business, as well as a platform to connect with each other and their customers</li>
                <li>front end web developer</li>
                <li>focused on responsive web pages for both desktop and mobile</li>
                <li>worked with vue and tailwind</li>
                <li>interacted with rails backend regularly</li>
            </ul>
            <br>
            <li>accenture, boston ma, jan2017-feb2020</li>
            <ul>
                <li>front end web developer</li>
                <li>worked with angular and vue to develop new systems for internal and external clients</li>
                <li>coordinated front and back end to determine best practices</li>
                <li>acted as liaison for new developers</li>
                <li>completed rigorous unit testing via jest and jasmine</li>
                <li>developed middleware services as necessary</li>
            </ul>
            <br>
            <li>custom orthopaedic solutions (cos), cleveland oh, may2015-feb2016</li>
            <ul>
                <li>cos creates proprietary software and implant placement devices to aid orthopedic surgeons before and during surgery</li>
                <li>developed using angular and three.js</li>
                <li>designed and developed web tools for the planning of total hip arthroplasty</li>
                <li>worked with senior orthpedic surgeons at the cleveland clinic to determine features</li>
            </ul>
        </ul>
    </td>
</table>
<div style="position: absolute; top:25vh; left:25vw; background-color: #ff0055; height:50vh; width:50vw; z-index: -2;"></div>
