<nav-component></nav-component>
<table style="position: absolute; top: 0px; width: 99vw; height: 100vh; z-index: -1;">
    <td style="width: 50%; vertical-align: middle; text-align: center">
        <div style="padding-top: 20px; padding-bottom:20px; margin-left: 5vw; margin-right: 5vw; vertical-align: middle; text-align: center; background-color: #00a2ff;">
            hi i'm alex deutch. i'm a web developer and artist based in somerville ma.  
        </div>
    </td>
    <td style="width: 50%; text-align: center; vertical-align: middle; padding: 0px">
        <img style="object-fit: contain; width: 45%" src="../../../assets/headshot.jpg">
    </td>
</table>
<div style="position: absolute; top:25vh; left:25vw; background-color:yellow; height:50vh; width:50vw; z-index: -2;"></div>
